.iconContainer {
  display: inline-block;
  margin: 0 2px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.defaultIcon {
  display: inline-block;
  margin: 0 4px;
}

.iconsList {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}
